/* CSS Pseudocode */

/* The area where the card is displayed should be in the center of the page.

There should be an arrow at each end of the bottom of the card.

One arrow will be for 'next' and the other arrow for 'previous'.

The text should be displayed in the center of the card area.

The card should "flip" when clicked.

The term should be displayed initially.

The definition should be on the "back" side.
*/

body {
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-top: 20px;
}
div.game-area {
	display: flex;
	justify-content: center;
	margin-top: 10%;
	position: relative;
}
div.text-display {
	height: 350px;
	width: 700px;
	border: 3px solid black;
}
div.cardControls {
	display: flex;
	justify-content: space-around;
	margin: 0px 250px 0px 250px;
}
p {
	text-align: center;
	font-size: 55px;
}

div.topControls {
	position: absolute;
	top: -120px;
	justify-content: flex-start;
}

.categoryList {
	justify-content: flex-start;
}

.button {
	margin: 15px;
	padding: 20px;
	bottom: 0px;
}

.hidden {
	display: none;
}

#previous,
#next {
	cursor: pointer;
	transition: all 0.1s;
}
#previous:hover,
#next:hover {
	transform: scale(1.3);
}
#previous:active,
#next:active {
	transform: scale(0.9);
}

#previous {
	align-self: flex-end;
}

#next {
	align-self: flex-end;
}

#term {
	text-align: center;
}

#definition {
	text-align: center;
}

@media (max-width: 600px) {
	h1 {
		text-align: center;
	}
	p {
		font-size: 40px;
		text-align: justify;
		padding: 5px;
	}
	div.game-area {
		margin: 100px 15px 0px 15px;
	}
	div.cardControls {
		display: flex;
		margin: 20px 0px 0px 0px;
		justify-content: space-between;
	}
	#term {
		padding: 90px 0px 0px 0px;
	}
	#definition {
		padding: 20px 15px 0px 15px;
		line-height: 1.3;
	}
}
